@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* This gradient mimics the grey/light lighting in your reference image */
  background: radial-gradient(circle at 50% 0%, #404040 0%, #0a0a0a 100%);
  color: white;
  min-height: 100vh;
}
a {
  font-family: var(--_typography---font-family--geist-mono);
}
html {
  scroll-behavior: smooth;
}
